{% extends 'parent/base.html' %}

{% block content %}
  {% if validlink %}
  <div class="reset-password-container">
    <h3>Reset Password</h3>
    <p>Please enter your password twice.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <ul>
            <li>Your password cannot be similar to any other personal information you have.</li>
            <li>Your password must be at least 8 characters long.</li>
            <li>Your password cannot be a common password.</li>
            <li>Your password cannot be all numbers.</li>
        </ul>
        <input type="submit" value="Reset Password">
    </form>
  </div>
  {% else %}
    <div class="invalid-link-message">
      The link is invalid
    </div>
  {% endif %}
{% endblock %}
