{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock %}

{% block content %}

<div class="underwater-container">
    <!-- حباب‌ها -->
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>

    <!-- باکس پیام -->
    <div class="message-box">
        <h3>Password change successful.</h3>
        <a href="{% url 'blog:index' %}">Back to Home</a>
    </div>
</div>

{% endblock %}

